.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.country {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
  margin: auto
  
}

.buttons{
  display: flex;
  justify-content: space-evenly;
}

.info{
  display: grid;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  grid-template-areas: "name"
                        "capital"
                        "population"
                        "flag";
}

.name{
  grid-area: "name";
  display: flex;
  justify-content: center;
  padding: 0em 1em 0em 1em;
}

.capital{
  grid-area: "capital";
  display: flex;
  justify-content: center;
}

.population{
  grid-area: "population";
  display: flex;
  justify-content: center;
}

.flag{
  grid-area: "flag";
  display: flex;
  justify-content: center;
}